.progress {
  margin-top: -60px;
}

.progress__inner {
  background: #fff;
  border-radius: 10px;
  padding: 50px 50px 30px;
}
.progress__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.progress__info-col {
  position: relative;
  padding-right: 40px;
  margin-right: 80px;
}
.progress__info-col:not(:last-child):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: var(--color-dark-gray);
  right: 0;
  top: 0;
  opacity: 0.4;
}
.progress__info-title {
  padding-bottom: 10px;
  font-size: 28px;
  line-height: 36px;
}
.progress__info-text {
  color: var(--color-dark-gray);
  font-size: 14px;
  font-weight: bold;
}
.progress__bar {
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 25px;
  position: relative;
}
.progress__bar span {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background: var(--color-mod-cyan);
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .progress__inner {
    padding-top: 30px;
  }
  .progress__info {
    flex-direction: column;
    text-align: center;
  }
  .progress__info-col:not(:last-child):after {
    bottom: 0;
    top: unset;
    width: 85px;
    height: 1px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
  .progress__info-col {
    padding-right: 0;
    margin-right: 0;
  }
  .progress__info-col:not(:last-child) {
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
}
