.modal {
  margin-top: 50px;
  margin-bottom: 50px;
}
.modal__inner {
  background: #fff;
  border-radius: 10px;
  padding: 50px 50px 30px;
}
.modal__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.modal__title {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}
.modal__desc {
  margin-bottom: 30px;
  color: var(--color-dark-gray);
  line-height: 28px;
  font-size: 16px;
  font-weight: 500;
}
.modal__btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
