@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
:root {
  /* Fonts */
  --font: 'Commissioner', sans-serif;
  /* Colors */
  --color-mod-cyan: #3cb4ac;
  --color-dark-cyan: #147b74;
  --color-black: #000;
  --color-dark-gray: #7a7a7a;
}
